<%- include("partials/header") %>

    <h1>Compose</h1>
    <form action="" method="post">
        <div class="form-group">
            <label for="">Title</label>
            <input class="form-control" type="text" name="posttitle">

            <label for="">Post</label>
            <textarea class="form-control" name="postbody" cols="70" rows="5"></textarea>

            <button type="submit" class="btn btn-primary btn-md">Publish</button>
        </div>
    </form>



    <%- include("partials/footer") %>